if $children do
  <div id="article-list">
  foreach $children do
    <article class="summary">
      <header>
        <time datetime="@published">@date —</time>
        <h1><a href="@url" rel="prefetch">@title</a></h1>
      </header>
      <div class="content">
        <h2>
          @author /
          if @collaborator do
            @collaborator
          endif
        </h2>
        @summary
        <p>—&nbsp;<a href="@url" rel="prefetch">Continued</a></p>
      </div>
    </article>
  endforeach
  </div>
endif
