body { margin: 0em; color: #222; background: #f9f9f9; font-family: baskerville, serif; line-height: 1.5; text-align: center; }
.wrapper { width: 600px; overflow: hidden; margin: 10px auto; text-align: left; }

h1, h2 { margin: 0px 0px 6px; padding: 0px; }
.content h2 { color: #888; font-size: 13px; }
p { margin: 0px 0px 5px; }
a { color: #222; }

#main-header h1 { border: 1px solid red; }

#article-list { margin: 12px 0px 0px; }
.content { margin: 0px 0px 20px; }

dt, dd { display: block; margin: 0px; }
dt { color: #888; }